@import '../../../../styles/variables';

.embla{
	overflow: hidden;
}

.container{
	// display:flex;
}

.slide_container{
	display: flex;
}

.slide{
	position: relative;
	flex: 0 0 100%;
}

.dots{
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.dot{
	height: .8rem;
	width: .8rem;
	border-radius: .4rem;
	background: $white;
	margin: 0 .2rem;
	border: none;
	cursor: pointer;
}

.dot_selected{
	background: $primary_color;
}