@import '../../../../styles/breakpoints';
@import '../../../../styles/typescale';
@import '../../../../styles/variables';

.container{
	/*border: 1px solid green;*/
	border:  none;
	width: 100%;
	background: #28BD4D;
	border-radius: 16px;
	padding: 8px 0;
	text-align: center;
	color: $white;
	font-size: 24px;
	font-weight: bold;
	display: block;

	@include breakpoint-range($from: md){
		width: 12rem;
		font-size: $h4;
		cursor: pointer;
	}
}