@import '../../../../styles/breakpoints';
@import '../../../../styles/variables';

.container{
	// border: 1px solid red;
	padding: 1rem;
	@include breakpoint-range($from: lg){
		// border: 1px solid red;
		padding: 1rem $page-padding;
		position: relative;
		display: flex;
		flex-direction: row;
	}
}

.geoMap{
	height: 70vw;
	background: #FFF;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	overflow: hidden;
	img{
		height: auto;
		// width: 100%;
	}

	@include breakpoint-range($from: lg){
		width: 50%;
		height: 30vw;
	}
}

.addresses_container{
	// border: 1px solid blue;
	// position: absolute;
	// top: 12vw;
	// right: $page-padding;
	@include breakpoint-range($from: lg){
		margin-left: 2rem;
	}
}

.list{
	// border: 1px solid blue;
	margin-top: 2rem;
	h4{
		margin-bottom: .5rem;
	}

	@include breakpoint-range($from: lg){
		margin-top: 0;
	}
}

.contact{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}