@import '../../../../styles/variables';

.container{
	// border: 1px solid blue;
}

.label{
	display: flex;
	flex-direction: column;
	color: gray;
	text-transform: uppercase;
}

.select{
	margin-top: .2rem;
	border: none;
	width: 100%;
	padding:.8rem;
	border-radius: .4rem;
	border: 2px solid $primary_color;
}