@import '../../../../styles/breakpoints';
@import '../../../../styles/variables';

.container{
	padding: 16px;
	@include breakpoint-range($from: lg){
		padding: 1rem $page-padding;
	}
}

.slide_container{
	// border: 1px solid red;
	@include breakpoint-range($from: lg){
		padding: 0 1rem;
	}
}

.slide_content{
	// border: 1px solid blue;
	@include breakpoint-range($from: lg){
		display: flex;
	}
}

.slide_image{
	position: relative;
	width: 100%;
	height: 100%;
	@include breakpoint-range($from: lg){
		width: 50%;
		position: absolute;
		top: 25%;
		right: 0;
		height: 400px;
	}
}

.slide_text{
	// border: 1px solid yellow;
	@include breakpoint-range($from: lg){
		width: 50%;
		padding-right: 1rem;
		height: 400px;
	}
}